.aspk_row{
	clear:left;
}
.aspk_col{
	margin-top:1em;
}
.aspk_p_img{
	width:18em;
	height:10em !important;
}
.aspk_span {
	
}
#map_canvas{
	height:25em;
	width:100%;
	clear:left;
}
.aspk_h1_tag{

}
.aspk_p_tag{

}
.aspk_input_fields{

}
.webix_layout_toolbar.webix_toolbar{
	background-color: white !important;
}
.webix_el_box > select {
  background-color: white;
  color: black;
}
.webix_el_box > button {
  background-color: red !important;
}
#splash {
	opacity: 0.8;
	background: black;
	width: auto;
	height: auto;
	padding: 45px 85px;
	margin-bottom:2em;
	margin: -250px 0px 0px;
}
.aspk_align_center{
	text-align:center;
	font-family: open sans-serif !important;
}
.btn_submit_color{
	background-color:green;
	margin-left: 0.6em !important;
}
.aspk_float_left{
	float:left;
}
.aspk_search_field{
	height:2.7em;
	margin-left: 0.5em !important;
	width:15em !important;
	margin-right: 0.5em !important;
}
.btn_search_class{
	background-color:green;
	padding:0.5em;
	color: white;
}
.ui-state-default .ui-icon{
	background: url(/wp-content/plugins/rt-project/images/x.png) no-repeat !important;
}
#wait {
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	display:none;
	text-align:center ; 
	width:100%;
	height:100%;
	z-index:999;
	top:0;
	left:0;
	padding:2px;
}
.aspk_img_width{
	width:50%;
}
.aspk-bg-color{
	background-color:gray;
}
